@import './styles/colors.css';

body {
  color: hsl(220, 30%, 6%);
  font-family: "Inter", sans-serif; /* Ensure "Inter" is applied */
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
}
